appdirs==1.4.3
cssselect==1.1.0
distlib==0.3.0
filelock==3.0.12
lxml==4.5.0
parsel==1.5.2
resolver==0.2.1
selector==0.10.1
selenium==3.141.0
six==1.14.0
urllib3==1.26.5
virtualenv==20.0.13
w3lib==1.21.0
